.usericonformii {
  display: block;
  margin-top: -9px;
  width: 205px;
  margin-right: 120px;
}

.feed {
 display: block;
 margin-top: -0px;
 width: 205px;

}

.region {
width: 700px;
margin-left: 350px;
margin-top: -120px;
display: block;
}

.communites {
 display: block;
 margin-top: ;
 margin-top: -10;
width: 205px;

}

.message_wiiu {
  display: block;
  width: 205px;
}

.notifications {
 margin-left: 0px;
  width: 205px;
}

.back {

  display: block;
  margin: -20px;
  width: 205px;
  margin-top: -12px;
  margin-left: 2px;
}



.todos {
  position: fixed;


}





.green {
 margin-top: -40px;
 display: block;
 position: absolute;

}

.mk8U {

margin-top: 105px;
  width: 1500px;
  margin-left: 200px;
}

.mk8_icon {
margin-left: 300px;
margin-top: -50px;
width: 160px;
display: block;
border-radius: 25px;

}

.mke {
  margin-left: 300px;
  display: block;
  position: absolute;
  margin-top: -400px;

 width: 200px;
}



body {
        
  background-image: url(/img/background.png)   

 
}

body{
  margin: 0;
  padding: 0;
  background: url(/img/background.png);   
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}


.box{
  
  background-image: url(../img/background.png);


}


.search {


   margin-top: 1000px;

}






