
.usericonformii {
  display: block;
  margin-top: -360px;
  width: 185px;
  margin-right: -60px;
}

.feed {
 display: block;
 margin-top: -0px;
 width: 185px;

}

.region {
width: 700px;
margin-left: 350px;
margin-top: -120px;
display: block;
}

.communites {
 display: block;
 margin-top: ;
 margin-top: -10;
width: 185px;

}

.message_wiiu {
  display: block;
  width: 185px;
}

.notifications {
 margin-left: 5px;
  width: 180px;
}

.back {

  display: block;
  margin: -20px;
  width: 180px;
  margin-top: -15px;
  margin-left: 10px;
}

.se{
 margin-left: 1390px;
width: 200px;
margin-top: 600px;
}






.todos {
  position: fixed;


}


.banner {
width: 800px;
margin-left: 500px;
}